*.[oa]
*~
*.swp
*Makefile.in
*Makefile
*cscope.out
stamp-h1
src/zark
config.status
config.log
configure
aclocal.m4
autom4te.cache
build-aux
config.h.in
config.h
myreconf.sh
src/.deps
zark.trace
msvc/vc9/data
msvc/vc9/build/Debug
msvc/vc9/build/Release
msvc/vc9/build/*.exe
msvc/vc9/build/*.pdb
msvc/vc9/zark.ncb
msvc/vc9/zark.suo
msvc/vc9/*.vcproj.*.user
msvc/vc9/~AutoRecover*
