*.[oa]
*~
*.swp
*Makefile.in
*Makefile
stamp-h1
src/zark
config.status
config.log
configure
aclocal.m4
autom4te.cache
build-aux
config.h.in
config.h
src/.deps
win32/data
win32/build/Debug
win32/build/Release
win32/build/*.exe
win32/build/*.pdb
win32/zark.ncb
win32/zark.suo
win32/*.vcproj.*.user
win32/~AutoRecover*
